body {
  background-color: #f4f4f4;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  /* max-width: 1280px; */
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #212121;
}

input[type="checkbox"]:checked {
  background-color: #bbf7d0;
  border-color: #212121;
}

input[type="checkbox"]:checked::after {
  content: '✓';
  color: #212121;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: .5rem;
}

.custom-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 860px) {
  .custom-header {
    background-color: #bbf7d0;
  }
}

@media screen and (max-width: 768px) {
  .custom-card-wrap {
    grid-column: span 2;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .custom-filter-wrap {
    display: none;
  }
}